/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: slategrey;
  color: color;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: verdana, arial, sans-serif; 
}

button{
  padding: 10px;
  border-radius: 10px;
}

#gameBtnArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden {
  display: none;
}

#btn1 {
    background: lightgreen;
}

#btn1:active,#btn1.lit{
  background:green;
}

#btn2 {
    background: lightblue;
}

#btn2:active,#btn2.lit{
  background: blue;
}

#btn3{
    background:pink;
}

#btn3:active,#btn3.lit{
  background:red;
}

#btn4{
    background:lightyellow;
}

#btn4:active,#btn4.lit{
  background:yellow
}

